.title {
    color: #162463;
    position: relative;
    z-index: 1;
}

.readingImage{
    margin: auto;
    position: relative;
    bottom: 100px;
    width: 60%;
} 

.separator {
    position: relative;
    right: 20px;
    bottom: 50px;
    width: 50%;
}

#signInDiv {
    /* margin: auto;
    text-align: center;
    position: relative;
    top: 20px;
    width: 60%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}