.logoutButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    padding: .5%;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 30px;
    width: 40px;
    z-index: 100;
    color: #3c87df;
    background-color: #c7effd;
}

.dotLoader {
    display: block;
    margin: auto;
    position: relative;
    z-index: 100;
}

.previousButton{
    border-radius: 20px;
    margin: 10px;
    font-weight: bold;
    background-color: #162463;
    color: #c7effd;
}

.nextButton{
    border-radius: 20px;
    margin: 10px;
    font-weight: bold;
    background-color: #162463;
    color: #c7effd;
}