.previewButton {
    margin: 10px;
    height: 40px;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
}

.downloadOptions{
    color: #162463;
    font-weight: bold;
}

.buttons {
    display: flex;
    position: relative;
    top: 20px;
    margin: auto;
    width: 311px;
}

.detailsText {
    font-size: 20px;
}

.detailsImage {
    width: 200px;
    border-radius: 20px;
}