.headerIcon {
    position: relative;
    top: 6px;
    height: 45px;
    width: 50px;
}

.headerText {
    font-size: 45px;
    position: relative;
    z-index: 1;
    color: #162463;
}

.header {
    padding: 20px 10px;
}

.svg-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.path2 {
    width: 50px;
    fill: #ff517f;
}
.svg {
    overflow: hidden;
    z-index: -1;
}